html, body{
    margin: 0;
    padding: 0;
}

.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-items{
    list-style-type:none ;
    display: flex;

}

.nav-items li{
    padding: 0 2em;
}

.title, .footer{
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer{
    background-color: rgb(91, 90, 90);
    color: rgb(255, 255, 255);
    padding:1em 0;
    font-size: 1em;
}